#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
&none &lt 2 Q       &kp W       &kp E       &lt 1 R         &lt 2 T         &kp Y   &kp U           &kp I       &kp O       &kp P           &none
&none &mt LCTRL A   &mt LALT S  &mt LCMD D   &mt LSHIFT F    &kp G           &kp H   &mt LSHIFT J    &mt RCMD K   &mt RALT L  &mt RCTRL SEMI  &none
&none &kp Z         &kp X       &kp C       &kp V           &kp B           &kp N   &kp M           &kp COMMA   &kp DOT     &kp FSLH        &none
                                &kp ESC     &kp TAB         &kp SPACE       &kp RET &kp DELETE      &mo 3
                        >;
                };


        };
};

